* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  scroll-behavior: smooth;
}

.app {
  background-color: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #303030;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(54, 54, 54);
}
::-webkit-scrollbar-track {
  background: #747474;
  box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}
