html {
  scroll-behavior: smooth;
}

.app {
  background-color: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #3a0c53;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(66, 11, 66);
}
::-webkit-scrollbar-track {
  background: #551961;
  box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}
